/* styles.css */

/* Add your custom styles here if needed */

/* Style for form */
form {
  max-width: 500px;
  margin: auto;
}

/* Style for table */
.table {
  margin-top: 20px;
}

/* Style for table headers */
th {
  text-align: center;
}

/* Style for table cells */
td {
  text-align: center;
}
